@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@font-face{
  font-family: "panthera";
  src: url(../assets/fonts/panthera.otf);
}
@font-face{
  font-family: "beyno";
  src: url(../assets/fonts/beyno/BEYNO.otf);
}
@font-face{
  font-family: "beyno";
  src: url(../assets/fonts/beyno/BEYNO.otf);
}
@font-face{
  font-family: "Cantarell";
  src: url(../assets/fonts/Cantarell-Bold.ttf);
}
/* Design la premiere partie header de la Black Panther */
body{
  background-image: url(../assets/arrierPlan/arrière_plan.png);
  width: 100%;
  
}
  #haut{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    display: flex;
    margin-top: 40px;
  }
  /* Navigateur */
  nav ul{
    list-style-type: none;
    color: white;
    display: flex;
  }
  nav li{
    margin-right: 15px;
  }
  nav a{
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 3px;
  }
  #haut .lien nav{
    display: flex;
    list-style-type: initial;
    font-family: "beyno";
  }
  #haut .nav li{
    margin-right: 15px;
  }
  /*Design le partie bas black header*/
  .traits{
    position: fixed;
    display: flex;
    margin-left: 2.5vw;
  }
  .traits div{
    margin-right: 20px;
  }
  .trait-1{
    border-left: 3px solid #999187;
    height: 50vh;
  }
  .social-media{
    align-content: center;
  }
  .trait-2{
    border-left: 3px solid #999187;
    height: 40vh;
  }
  #haut .scroll{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: right;
    width: 25%;
    padding: 20vh;
  }
  .scroll{
    margin-top: 15px;
  }
  
  #bas{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #bas .text h1{
    display: flex;
    justify-content: left;
    padding: 50px;
    margin-top: 40px;
    margin: 5vw;
    font-family: "panthera";
  }
  #bas .text h2{
    display: flex;
    justify-content: center;
    font-family: "beyno";
    margin: 40px;
    margin-top: 0;
    text-align: 3%
    }
  #social-titres{
    display: flex;
    justify-content:last baseline;
    text-align: left;
    position: relative;
    }
  /*  La prémiere section de partie header */
  #wakanda{
    display: flex;
    justify-content: center;
  }
  #wakanda .container{
    display: flex;
    justify-content: space-between;
    text-align: justify;

  }
  #wakanda .act{
    display: flex;
    justify-content: space-between;
  }
  #wakanda .slide-content{
    padding: 10px;
   background-color: #021740;
 }
 #wakanda .slide-content .titre{
  display: flex;
  justify-content: center;
  font-family: "beyno";
  margin: 40px;
 }
  #wakanda .titre{
    display: flex;
    justify-content: center;
    font-family: "beyno";
    margin: 40px;
  }
  section h2{
    display: flex;
    text-align: justify;
    font-family: "beyno";
  }

  .corps-accueil{
    display: flex;
  }

  /* Design la section concernant la naissance de prince*/
  #prince{
    justify-content: 20%;
    padding: 0;
    margin-left: 5%;
    margin: center;
    padding: 30vh;

  }
  #prince .container{ 
   justify-content: center;
  }
  #prince .titre{
    display: flex;
    justify-content: left;
    font-family: "beyno";
    text-align: center;
    margin: left;
    
  }
  #prince p{
    display: flex;
    justify-content: center;
    text-align: left;
  }
  #birth .venger{
    display: inline-block;
    background-color:  #FFFFFF;
    margin: center;
   font-size: 10px;
   justify-content: 20%;
    margin-left: 5%;
    width left: 30%;
    padding: 6vh;
  }
  #birth.venger img{
    display: flex;
    justify-content: center;
    width: 200%;
    margin-top: 80px;
    text-align: right;
    padding: 30vh;
  }
  /* Design la troisieme section un heros vengeur*/
  #heros .container{
    justify-content: center;
  }
  #heros .titre{
    display: flex;
    justify-content: 80px;
    font-family: "beyno";
    text-align: 40vw;
  }
  #heros p{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: center;
  }
  /* Design la troisieme section un heros protecteur*/
  #heros-justice .titre{
    display: flex;
    justify-content: 80px;
    font-family: "beyno";
    text-align: 40vw;
  }
  #heros-justice p{
    text-align: 20%;
    margin-top: 20px;
  }
  #heros-justice .protect{
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 60vw;
    text-align: left;
  }
  #birth .buttom{
    justify-content: center;
    background: #FFFFFF;
    top: 155px;
    border: none;
    justify-content: none;
    margin: 10px;
    width: 60vh;
    height: 30vw;
  }
  #birth .name{
    display: flex;
    background-image: white;
    color: black;
    justify-content: center;
    text-align:  justify;
    margin-left: 100px;
  }
  #birth .btn-group{
    justify-content: space-around;
    padding: 30px;
    display: flex;
    height: 50px;
    width: 60%;
  }
  #birth .form input[type='radio']{
    opacity: 0;
  }
  #birth .btn-group label{
    cursor: pointer;
    padding: 10px;
    border: 1px solid;
    width: 70px;
    margin-left: 8%;
    background-color: #3D2DA6;
    font-size: 15px;
  }
  #birth .descript ul{
    justify-content: center;
    margin-top: 200px;
    color: #3D2DA6;
    margin-top: 20px;
  }
  .heros-protecteur{
    justify-content: center;
    align-items:center;
    
    
  }

/* Design de la partie formulaire d'inscription */
#Infoline .warapper{
  position: absolute;
  padding: 30vh;
}
#Infoline .form{
  justify-content: center;
  background:
  linear-gradient(90deg,#FFFFFF);
  -webkit-background-clip: text;
  border: 1px solid #FFFFFF);
  color: transparent;
  padding: 300px;
  font-size: 40px;
  border-radius: 30px / 10px;
}
#Infoline p{
  display: flex;
  justify-content: center;
  height: 5vh;
  size: 12px;;
  text-justify: center;
  color: white;
}
#Infoline .infos{
  display: flex;
  justify-content: center;
  height: 5vh;

  size: 20px;
  text-justify: center;
  color: white;
}
#Infoline .action{
  justify-content: center;
  background-color: #F2CEF2;
  padding: 40vh;
  margin-top: 10vh;
  font-weight: bolder;
  border-radius: 30px;
  text-align: center;
  width: 40vw;
  height: auto;
}
#Infoline .action .nom{
  border: 1px solid #021748;
  background: none;
  text-align: 2 left;
  color: #021740;
  margin-top: 20px;
  border-radius: 30px;
  width: 40vw;
  height: auto;
  }
#Infoline .action .email{
  border: 1px solid #021748;
  justify-content: center;
  text-align: 2 left;
  color: #021740;
  margin-top: 20px;
  border-radius: 30px;
  width: 40vw;
  height: auto;
    }
#Infoline .action .message{
  border: 1px solid #021748;
  text-align: 2 left;
  color: #021740;
  margin-top: 20px;
  border-radius: 30px;
  width: 40vw;
  height: auto;
      }
#Infoline .action input{
  justify-content: center;
  margin-left: 25px;
  text-decoration: #021740;
  border: 1px solid #021748;
  background-color: #9E91B7;
  border-radius: 30px;
  width: 10vw;
  height: 5vh;
  }

/* responsive*/
footer {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 15vh;
  background: url(../assets/arrierPlan/back_footer.png);
  background-size: 100% 100%;
  background-position: center;
}

#bas-footer{
  width: 20vw;
}
.logo-mrl{
  width: 50%;
  position: absolute;
  top: 10vw;
  left: 5vw;
}

.wakanadamarvel{
  position: relative;
  margin-right: 10vw;
  width: 23.3vw;
  height: 53vh;  
}


footer div{
  margin-right: 10vw;
}

.media{
  display: flex;
  justify-content: center;
}

.footer-media ul{
  font-family: Cantarell regular;
  display: flex;
  text-align: left;
}

.footer-media ul li {
  margin-right: 40px;
}
.social-footer h2,.media h2, .media{
  font-family: Cantarell regular;
}

.text-footer{
  display: flex;
  font-size: 15px;
  color: #FFFFFF;
  padding-bottom: 15px;
  padding: 20vh;
  margin: center;
}
.social-footers{
  justify-content: center;
  line-height: 2px;
}
.social-item p{
justify-content: center;
margin: 0 auto;

}






  



