@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@font-face{
  font-family: "panthera";
  src: url(../assets/fonts/panthera.otf);
}
@font-face{
  font-family: "beyno";
  src: url(../assets/fonts/beyno/BEYNO.otf);
}
@font-face{
  font-family: "beyno";
  src: url(../assets/fonts/beyno/BEYNO.otf);
}
@font-face{
  font-family: "Cantarell";
  src: url(../assets/fonts/Cantarell-Bold.ttf);
}
/* Design la premiere partie header de la Black Panther */
body{
  background-image: url(../assets/Illustrations + Logo/All pages/arriere plan/arrière_plan);
  width: 100%;
}
  #haut{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    display: flex;
    margin-top: 40px;
  }
  /* Navigateur */
  nav ul{
    list-style-type: none;
    color: white;
    display: flex;
  }
  nav li{
    margin-right: 15px;
  }
  nav a{
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 3px;
  }
  #haut .lien nav{
    display: flex;
    list-style-type: initial;
    font-family: "beyno";
  }
  #haut .nav li{
    margin-right: 15px;
  }
  #haut .scroll{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: right;
  }
  .scroll .social{
    margin-top: 15px;
  }
  .traites{
    position: fixed;
    display: flex;
    margin-left: 2.5vw;
  }
  .traites div{
    margin-right: 20px;
  }
  .trait-1{
    border-left: 3px solid #999187;
    height: 50vh;
  }
  .social-media{
    align-content: center;
  }
  .trait-2{
    border-left: 3px solid #999187;
    height: 40vh;
  }
  #bas{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #bas .text h1{
    display: flex;
    justify-content: left;
    padding: 50px;
    margin-top: 40px;
    margin: 5vw;
    font-family: "panthera";
  }
  #bas .text h2{
    display: flex;
    justify-content: center;
    font-family: "beyno";
    margin: 40px;
    margin-top: 0;
    text-align: 3%
    }
  #social-titres{
    display: flex;
    justify-content:last baseline;
    text-align: left;
    position: relative;
    }
  /*  La prémiere section de partie header */
  #wakanda{
    display: flex;
    justify-content: center;
  }
  #wakanda .container{
    display: flex;
    justify-content: space-between;
    text-align: justify;

  }
  #wakanda .act{
    display: flex;
    justify-content: space-between;
  }
  #wakanda .slide-content{
    padding: 10px;
   background-color: #021740;
 }
 #wakanda .slide-content .titre{
  display: flex;
  justify-content: center;
  font-family: "beyno";
  margin: 40px;
 }
  #wakanda .titre{
    display: flex;
    justify-content: center;
    font-family: "beyno";
    margin: 40px;
  }
  section h2{
    display: flex;
    text-align: justify;
    font-family: "beyno";
  }

  .corps-accueil{
    display: flex;
  }

  /* Design la section concernant la naissance de prince*/
  #prince{
    justify-content: 20%;
    padding: 0;
    margin-left: 5%;
    margin: center;
    padding: 30vh;

  }
  #prince .container{ 
   justify-content: center;
  }
  #prince .titre{
    display: flex;
    justify-content: left;
    font-family: "beyno";
    text-align: center;
    margin: left;
    
  }
  #prince p{
    display: flex;
    justify-content: center;
    text-align: left;
  }
  #prince .birth{
    display: inline-block;
    background-color:  #FFFFFF;
    margin: center;
   font-size: 20px;
   justify-content: 20%;
    margin-left: 5%;
    padding: 30vh;

  }
  #prince .venger img{
    display: flex;
    justify-content: center;
    width: 200%;
    margin-top: 80px;
    text-align: right;
    padding: 30vh;
  }
  
  /* Design la troisieme section un heros vengeur*/
  #heros .container{

    justify-content: center;
  }
  #heros .titre{
    display: flex;
    justify-content: 80px;
    font-family: "beyno";
    text-align: 40vw;
  }
  #heros p{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: center;
  }
  /* Design la troisieme section un heros protecteur*/
  #heros-justice .titre{
    display: flex;
    justify-content: 80px;
    font-family: "beyno";
    text-align: 40vw;
  }
  #heros-justice p{
    text-align: 20%;
    margin-top: 20px;
  }
 
  #heros-justice .protect{
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 60vw;
    text-align: left;
  }
  #birth .buttom{
    background-color: #FFFFFF;
    justify-content: none;
    margin: 20px;
    width: 60vh;
    height: 30vw;
    justify-content: center;
  }
  #birth .name{
    display: flex;
    color: black;
    justify-content: center;
    text-align:  justify;
    margin-left: 100px;
  }
  #birth .btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  #birth .form input[type='radio']{
    opacity: 0;
  }
  #birth .btn-group label{
    cursor: pointer;
    padding: 10px;
    border: 1px solid;
    width: 70px;
    margin-left: 8%;
    background-color: #3D2DA6;
    font-size: 15px;
  }
  #birth .descript ul{
    justify-content: center;
    margin-top: 200px;
    color: #3D2DA6;
    margin-top: 20px;
  }

/* Design de la partie formulaire d'inscription */
#Infoline .form{
  background-color: #F2CEF2;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
  border-radius: 40px / 20px;
}
#Infoline p{
  display: flex;
  justify-content: center;
  text-align: left;
  text-justify: auto;
  color: black;
}

#Infoline .infos{
  display: flex;
  justify-content: center;
  text-align: left;
  text-justify: auto;
  color: black;
}
#Infoline .action{
  border: 1px solid #021748;
  background: none;
  margin-top: 20px;
  border-radius: 30px;
  text-align: center;
  width: 40vw;
  height: auto;
}
#Infoline .action .Nom{
  border: 1px solid #021748;
  background: none;
  margin-top: 20px;
  border-radius: 30px;
  width: 40vw;
  height: auto;
  }
  #Infoline .action .email{
    border: 1px solid #021748;
    background: none;
    margin-top: 20px;
    border-radius: 30px;
    width: 40vw;
    height: auto;
    }
    #Infoline .action .message{
      border: 1px solid #021748;
      background: none;
      margin-top: 20px;
      border-radius: 30px;
      width: 40vw;
      height: auto;
      }

/* responsive*/
footer {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 15vh;
  background: url(../illustration/All_pages/back_footer.png);
  background-size: 100% 100%;
  background-position: center;
}

#bas-footer{
  width: 20vw;
}
.logo-mrl{
  width: 50%;
  position: absolute;
  top: 10vw;
  left: 5vw;
}

.wakanadamarvel{
  position: relative;
  margin-right: 10vw;
  width: 23.3vw;
  height: 53vh;  
}


footer div{
  margin-right: 10vw;
}

.media{
  display: flex;
  justify-content: center;
}

.footer-media ul{
  font-family: Cantarell regular;
  display: flex;
  text-align: left;
}

.footer-media ul li {
  margin-right: 40px;
}
.social-footer h2,.media h2, .media{
  font-family: Cantarell regular;
}

.text-footer{
  display: flex;
  font-size: 15px;
  color: #FFFFFF;
  padding-bottom: 15px;
  padding: 20vh;
  margin: center;
}
.social-footers{
  justify-content: center;
  line-height: 2px;
}
.social-item p{
justify-content: center;
margin: 0 auto;

}






  



